* {
  margin: 1rem;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  body {
    font-family: "Courier Prime", monospace;
    text-align: center;
    background-color: #bcd0c7;
    h1,
    h2 {
      font-family: "Grechen Fuemen", cursive;
      font-size: 2rem;
    }
    nav {
      /* border: 2px solid green; */
      background-color: #a9b2ac;
      display: flex;
      justify-content: space-between;
      .nav-left {
        /* border: 2px solid green; */
        display: flex;
        align-items: center;
        margin: 0;
      }
      .nav-right {
        /* border: 2px solid green; */
        width: 70%;
        margin: 0;
        ul {
          /* border: 2px solid green; */
          display: flex;
          justify-content: space-between;
          list-style: none;
          li {
            /* border: 2px solid green; */
            a {
              text-decoration: none;
              color: black;
            }
            a:hover {
              color: red;
            }
            a:active {
              color: yellow;
            }
          }
        }
      }
    }
    header {
      /* border: 2px solid orange; */
      background-color: #a9b2ac;
      text-transform: uppercase;
      padding: 1rem;
      h1 {
        margin: 0;
        margin-bottom: 1rem;
        animation: fadeInOut 1s infinite;
      }
      p {
        text-shadow: rgb(48, 48, 48) 0rem 0.3rem 1rem;
        margin: 0;
        transition-property: padding;
        transition-duration: 2s;
        transition-delay: 0s;
      }
      p:hover {
        padding: 2rem;
      }
    }
    main {
      margin: 0;
      #duck {
        /* border: 2px solid yellow; */
        background-color: #a9b2ac;
        display: flex;
        text-transform: uppercase;
        .text {
          /* border: 2px solid yellow; */
          p {
            /* border: 2px solid yellow; */
            text-shadow: rgb(48, 48, 48) 0rem 0.3rem 1rem;
          }
        }
        .duck {
          /* border: 2px solid yellow; */
          a img {
            width: 10rem;
          }
        }
      }
      #emergency {
        /* border: 2px solid blue; */
        background-color: #a9b2ac;
        .grid-container {
          /* border: 2px solid blue; */
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          gap: 3px;
          width: 80%;
          margin: 0 auto;
          a {
            text-decoration: none;
            .grid-item {
              border: 2px solid grey;
              background-color: #bcd0c7;
              display: flex;
              justify-content: center;
              align-items: center;
              height: 150px;
              color: grey;
              border-radius: 2rem;
            }
            .grid-item:hover {
              color: black;
              border-color: black;
            }
            .grid-item:active {
              box-shadow: inset 0rem 0rem 1rem grey;
            }
          }
        }
      }
    }
    footer {
      /* border: 2px solid red; */
      background-color: #a9b2ac;
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      form :not(button) {
        display: flex;
        flex-direction: column;
        width: 40%;
        margin: 1rem auto;
        background-color: white;
        border-radius: 0.2rem;
        box-shadow: inset 0 0 0.5rem grey;
        border: 1px solid grey;
        padding: 1rem;
      }
      form {
        input {
          width: 16rem;
          height: 1.5rem;
        }
      }
      button {
        padding: 1rem;
        border-radius: 0.2rem;
        margin-top: 0;
        border: solid grey;
        color: grey;
      }
      button:hover {
        color: black;
        border: solid black;
      }
      button:active {
        box-shadow: inset 0 0 0.5rem black;
      }
      a img {
        width: 10%;
        margin: 0;
      }
      div {
        margin: 0;
        p {
          margin: 0;
        }
      }
    }
  }
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
