nav {
  border: 2px solid green;
  display: flex;
  justify-content: space-between;
  .nav-left {
    border: 2px solid green;
    display: flex;
    align-items: center;
  }
  .nav-right {
    border: 2px solid green;
    width: 80%;
    ul {
      border: 2px solid green;
      display: flex;
      justify-content: space-between;
      li {
        border: 2px solid green;
      }
    }
  }
}
header {
  border: 2px solid orange;
}
#duck {
  border: 2px solid yellow;
  display: flex;
  .text {
    border: 2px solid yellow;
    p {
      border: 2px solid yellow;
    }
  }
  .duck {
    border: 2px solid yellow;
  }
}
#emergency {
  border: 2px solid blue;
  .grid-container {
    border: 2px solid blue;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3px;
    width: 80%;
    margin: 0 auto;
    .grid-item {
      border: 2px solid pink;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 150px;
    }
  }
}
footer {
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
  }
}
