* {
  margin: 1rem;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  body {
    font-family: "Courier Prime", monospace;
    text-align: center;
    background-color: #bcd0c7;
    h1,
    h2 {
      font-family: "Grechen Fuemen", cursive;
      font-size: 2rem;
    }
    nav {
      /* border: 2px solid green; */
      background-color: #a9b2ac;
      display: flex;
      justify-content: space-between;
      .nav-left {
        /* border: 2px solid green; */
        display: flex;
        align-items: center;
        margin: 0;
      }
      .nav-right {
        /* border: 2px solid green; */
        width: 70%;
        margin: 0;
        ul {
          /* border: 2px solid green; */
          display: flex;
          justify-content: space-between;
          list-style: none;
          li {
            /* border: 2px solid green; */
            a {
              text-decoration: none;
              color: black;
            }
            a:hover {
              color: red;
            }
            a:active {
              color: yellow;
            }
          }
        }
      }
    }
    header {
      /* border: 2px solid orange; */
      background-color: #a9b2ac;
      text-transform: uppercase;
      padding: 1rem;
      h1 {
        margin: 0;
        margin-bottom: 1rem;
      }
      p {
        text-shadow: rgb(48, 48, 48) 0rem 0.3rem 1rem;
        margin: 0;
      }
    }
    main {
      margin: 0;
      #duck {
        /* border: 2px solid yellow; */
        background-color: #a9b2ac;
        display: flex;
        text-transform: uppercase;
        .text {
          /* border: 2px solid yellow; */
          p {
            /* border: 2px solid yellow; */
            text-shadow: rgb(48, 48, 48) 0rem 0.3rem 1rem;
          }
        }
        .duck {
          /* border: 2px solid yellow; */
        }
      }
      #emergency {
        /* border: 2px solid blue; */
        background-color: #a9b2ac;
        .grid-container {
          /* border: 2px solid blue; */
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          gap: 3px;
          width: 80%;
          margin: 0 auto;
          .grid-item {
            /* border: 2px solid pink; */
            background-color: #bcd0c7;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 150px;
          }
        }
      }
    }
    footer {
      /* border: 2px solid red; */
      background-color: #a9b2ac;
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      form {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: 0 auto;
        background-color: #bcd0c7;
      }
    }
  }
}
